@font-face {
    font-family: myRoboto;
    src: url("fonts/Roboto-Regular.ttf");
}

* {
    font-family: myRoboto;
    font-weight: 400;
}

.container {
    border: 1px solid;
    min-width: 300px;
    /* height: 100%;  */
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(91, 51, 150, 1) 41%, rgba(0, 212, 255, 1) 100%);
}

.colm-4 {
    border: 1px solid gray;
    width: calc(100% * 4/12);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.headsec {
    height: 28px;
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: yellow;
}

h1 {
    text-align: center;
    font-size: 4vw;
}

.sort-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 80%;
    height: 20px;
    margin: auto;
    margin-bottom: 5px;
}

#decrease,
#increase {
    border: none;
    background: none;
    cursor: pointer;
}

#decrease:hover,
#increase:hover {
    background-color: blueviolet;
    border-radius: 10px;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

input {
    border-radius: 10px;
    width: 80%;
    height: 40px;
    border: 1px solid gray;
    outline: none;
    box-sizing: border-box;
    padding: 10px;
    font-size: 20px;
}

.delete {
    border-radius: 71px;
    border: none;
    cursor: pointer;
    /* color: rgb(250, 10, 50); */
    color: white;
    background-color: blueviolet;
}


.submit-btn {
    width: 90%;
    height: 42px;
    background-color: blueviolet;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 19px;
    margin-top: 18px;
    border-radius: 71px;
    font-size: 2vw;
}

/* .tasks{
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */

.task {
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #939697;
    cursor: default;
    background-color: #c5e1e6;
    height: 35px;
    width: 20vw;
    margin-top: 8px;
    display: flex;
    padding: 10px;
    box-sizing: border-box;
}

.task span {
    font-size: 20px;
}

/* 
table{
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    /* background-color: antiquewhite; */
/* } */

/* tr{
    display: flex;
    background-color: antiquewhite;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    justify-content: space-between;
    width: 200px;
    height: 40px;
    box-sizing: border-box;
} */